body {
  margin: 0;
  font-family: sans-serif;
}
.head {
  font-size: 2.2em;
  color: hsl(250, 100%, 50%);
  padding: 30px 10px;
  border-radius: 0% 200px;
  background-color: hsl(30, 100%, 70%);
}
.dashboardlist {
  margin: 0% auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.headtag {
  text-align: center;
  margin: 1% auto 1% auto;
}
.table-headings {
  font-weight: 700;
}
.main {
  text-align: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 20% 0%;
  width: 260px;
  height: 300px;
}
.bodytag {
  height: 225px;
}
.img {
  border-radius: 10% 50%;
}
.buttons {
  text-align: center;
}
.btn {
  margin: 10px;
  font-size: 1.1em;
  border: none;
  padding: 15px;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(260, 100%, 50%);
}
.btn1 {
  margin: 10px;
  border: none;
  padding: 8px;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(80, 50%, 50%);
}
.btn2 {
  margin: 0px 5px;
  border: none;
  padding: 8px;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 100%, 50%);
}
.btn3 {
  margin: 10px;
  font-size: 1em;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(280, 100%, 50%);
}
.btn4 {
  margin: 10px;
  font-size: 1.1em;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(260, 100%, 50%);
}
.btn:hover,
.btn1:hover,
.btn2:hover,
.btn3:hover,
.btn4:hover {
  cursor: pointer;
}
.userlist {
  text-align: start;
  margin: 20px auto;
}
.d-grid {
  display: grid;
  gap: 20px;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.item {
  justify-self: start;
}
.d-grid-1 {
  display: grid;
  gap: 20px;
  justify-content: center;
}

@media (min-width: 320px) and (max-width: 576px) {
  .headtag,
  .dashboardlist,
  .userlist {
    width: 100%;
  }
  .d-grid {
    grid-template-columns: 1fr 1fr 1fr 100px 1fr;
  }
  .d-grid-1 {
    grid-template-columns: 250px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .headtag,
  .dashboardlist,
  .userlist {
    width: 90%;
  }
  .d-grid {
    grid-template-columns: 1fr 1fr 1fr 150px 1fr;
  }
  .d-grid-1 {
    grid-template-columns: 100px 350px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .headtag,
  .dashboardlist,
  .userlist {
    width: 80%;
  }
  .d-grid {
    grid-template-columns: 1fr 1fr 1fr 280px 1fr;
  }
  .d-grid-1 {
    grid-template-columns: 100px 500px;
  }
}
@media (min-width: 1201px) {
  .headtag,
  .dashboardlist,
  .userlist {
    width: 80%;
  }
  .d-grid {
    grid-template-columns: 50px 180px 280px 430px 160px;
  }
  .d-grid-1 {
    grid-template-columns: 100px 500px;
  }
}
