body {
  margin: 0;
  font-family: sans-serif;
}
.App {
  margin: 20px 0%;
  text-align: center;
}
.head {
  margin: 0% auto 2% auto;
  font-size: 2.2em;
  color: hsl(250, 100%, 50%);
  padding: 30px 10px;
  min-width: 400px;
  width: 70%;
  border-radius: 0% 200px;
  background-color: hsl(30, 100%, 70%);
}
.dashboardlist {
  margin: 0% auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  min-width: 600px;
  width: 80%;
}
.headtag {
  font-weight: 700;
}
.main {
  text-align: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 20% 0%;
  width: 260px;
  height: 300px;
}
.bodytag {
  height: 225px;
}
.img {
  border-radius: 10% 50%;
}
.btn {
  margin: 10px;
  font-size: 1.1em;
  border: none;
  padding: 15px;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(260, 100%, 50%);
}
.btn1 {
  margin: 10px;
  border: none;
  padding: 8px;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(80, 50%, 50%);
}
.btn2 {
  margin: 0px 5px;
  border: none;
  padding: 8px;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 100%, 50%);
}
.btn3 {
  margin: 10px;
  font-size: 1em;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(280, 100%, 50%);
}
.btn4 {
  margin: 10px;
  font-size: 1.1em;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(260, 100%, 50%);
}
.btn:hover,
.btn1:hover,
.btn2:hover,
.btn3:hover,
.btn4:hover {
  cursor: pointer;
}
.userlist {
  text-align: start;
  margin: 20px auto;
  max-width: 80%;
}
.d-grid {
  display: grid;
  grid-template-columns: 70px 200px 350px 450px 180px;
  grid-template-rows: 40px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.item {
  justify-self: start;
}
.d-grid-1 {
  display: grid;
  grid-template-columns: 100px 500px;
  gap: 20px;
  justify-content: center;
}
